body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(purple, black);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: black;
}

button {
    height: 100px;
    width: 220px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 150px;
    outline: none;
    font-weight: 800;
    transition: color .5s;
    transition: background-color .7s;
    color: white;
    background-color: rgb(53, 47, 92);
    border: solid rgb(192, 0, 192);
    border-radius: 5px;
    border-width: 2px;
    box-shadow: 0 9px rgb(37, 34, 61);
    font-family: "Press Start 2P";
}

button:hover {
    color: rgb(53, 47, 92);
    background-color: white;
    
}

button:active {
    box-shadow: 0 5px rgb(32, 29, 53);
    transform: translateY(4px);
    background-color: lightgrey;
}

p {
    color: white;
    text-align: center;
    text-shadow: 2px 2px black;
    font-size: 30px;
}

h4 {
    color: white;
}

img {
    padding-top: 40px;
    padding-bottom: 40px;
}

#game-over {
    color: white;
}

#win-skele {
    height: 500px;
    width: 225px;
}

#you-win-text {
    color: white;
}

#game-win-control {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#game-buttons-hidden {
    display: none;
}

#game-buttons-shown {
    font-size: large;
    display: inline-flex;
    
}