body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(black, purple);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: purple;
    
    
}



#game-buttons-hidden {
    display: none;
}

#game-buttons-shown {
    font-size: large;
}